@using PatientsAppointment.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>dtic wellness centre - Book Appointment</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <header class="topbar">
        <div class="brand">the dtic wellness centre</div>
        <nav class="main-nav">
            <a href="#">Home</a>
            <a href="#">Personal Details</a>
            <a class="active" href="#">Appointment</a>
            <a href="#">Documents</a>
            <a href="#">Contact</a>
        </nav>
        <div class="user">jsmith@thedtic.gov.za | Logout</div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        &copy; dtic wellness centre
    </footer>

    <script src="~/js/appointments.js"></script>
</body>
</html>